@model MutiShopDataContext.Model.DatHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/View.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DatHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoVaTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiGiaoHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
