@model MutiShopDataContext.Model.PhanQuyen

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/View.cshtml";
}

    <div class="wrapper">
        @{Html.RenderAction("MainHeader", "Home"); }
        @{Html.RenderAction("Menu", "Home"); }
        <div class="content-wrapper" style="min-height: 53.7361px;">
       

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4 class="text-primary">Phân quyền</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.IdQuyen, "IdQuyen", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("IdQuyen", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdQuyen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdQuanTri, "IdQuanTri", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("IdQuanTri", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdQuanTri, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }


            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
        @{Html.RenderAction("Menu", "Home"); }
    </div>


